<div class="header">
  <a routerLink="/" class="logo">
    <img src="/assets/logo.png" alt="Omni Gallery" srcset="/assets/logo@2x.png 2x">
    <h1><span>Omni</span>Gallery</h1>
  </a>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" href="#" [routerLinkActiveOptions]="{exact:true}">Omnifocus
          Themes</a></li>
      <li *ngIf="loggedIn" routerLinkActive="active" class="link-button"><a routerLink="/profile" href="#">My
          Account</a></li>
      <li *ngIf="!loggedIn" class="link-button"><a (click)="loginFn()">Log In</a></li>
    </ul>
  </nav>
</div>
